[submodule "Pen Tracking Algorithm/ARTest"]
	path = Pen Tracking Algorithm/ARTest
	url = git@github.com:neconeconeco/ARTest
[submodule "Pen Tracking Algorithm/MarkerMapper"]
	path = Pen Tracking Algorithm/MarkerMapper
	url = git@github.com:neconeconeco/MarkerMapper
[submodule "Interactive Application/3D-Painting"]
	path = Interactive Application/3D-Painting
	url = git@github.com:neconeconeco/3D-Painting
